<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.liang.androidbaseapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppConfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.Test_BaseRecyclerViewActivity" />
        <activity android:name=".mvp.Test_BaseRecyclerViewFragment" />
        <activity android:name=".mvp.Test_NetRecyclerViewActivity" />
        <activity android:name=".mvp.daggernormal.Test_DaggerNormalActivity" />
        <activity android:name=".mvp.daggerlist.Test_DaggerListActivity" />
        <activity android:name=".mvp.Test_AnimActivity" />
        <activity android:name=".mvp.Test_MultiActivity"/>
    </application>

</manifest>